@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
body {
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Your custom CSS for the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-animation {
  animation: marquee 20s linear infinite;
}

.bn-editor {
  outline: none;
  padding-inline: 20px !important;
}

@media screen and (max-width: 576px) {
  /* Kích thước màn hình sm */
  .bn-editor {
    padding-inline: 0px !important;
  }

  .bn-default-styles p {
    font-size: 14px !important;
    font-family: Sora, sans-serif !important;
    font-weight: 400 !important;
    color: #1a202c !important;
    line-height: 1.2 !important;
  }

  .bn-block-content {
    padding: 8px !important;
  }
}

.crop-container {
  position: relative;
  width: 296px;
  height: 350px;

  background: linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.reactEasyCrop_CropArea {
  color: rgba(255, 255, 255, 0.8) !important;
}

.ant-table-cell {
  font-family: "Sora", sans-serif;
  font-size: "16px";
  color: black;
}

/* Default styling for the table */
.ant-table table {
  font-size: 12px;
}

/* Apply noWrap only when screen width is md or larger */
@media (min-width: 768px) {
  .ant-table table {
    white-space: nowrap;
  }
}

.ant-select-lg {
  font-size: 14px;
}
.ant-select-multiple.ant-select-lg {
  font-size: 14px;
}
.ant-select-selection-overflow {
  padding-top: 3px;
  padding-bottom: 3px;
}

.ant-select-selection-search {
  padding-top: 7px;
  padding-bottom: 8px;
}

.ant-select-selection-placeholder {
  font-size: 14px;
  font-family: "Sora", sans-serif;
}

.ant-card {
  font-family: "Sora", sans-serif;
}

.ant-switch {
  font-family: "Sora", sans-serif;
  background-color: gray; /* Đặt lại màu nền cho button */
  border-color: inherit; /* Đặt lại màu viền cho button */
  opacity: 1; /* Đặt lại độ trong suốt */
}
.ant-switch:hover {
  opacity: 0.7; /* Giảm độ trong suốt khi hover */
}
.ant-switch.ant-switch-checked {
  background-color: #2563eb;
}

.ant-switch.ant-switch-unchecked {
  background-color: rgb(209 213 219 /1);
}

.ant-switch-inner-unchecked {
  color: black;
}

.ant-switch {
  font-family: "Sora", sans-serif;
  background-color: gray; /* Đặt lại màu nền cho button */
  border-color: inherit; /* Đặt lại màu viền cho button */
  opacity: 1; /* Đặt lại độ trong suốt */
}
.ant-switch:hover {
  opacity: 0.7; /* Giảm độ trong suốt khi hover */
}
.ant-switch.ant-switch-checked {
  background-color: #2563eb;
}

.ant-switch.ant-switch-unchecked {
  background-color: rgb(209 213 219 /1);
}

.ant-switch-inner-unchecked {
  color: black;
}

.ant-tabs-tab-btn {
  font-size: 12px;
  font-family: "Sora", sans-serif;
}

/* ::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8686;
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 5px; 
  height: 10px;
  background-color: #f5f5f5;
}

::-moz-scrollbar-thumb {
  background-color: #8b8686;
  border-radius: 10px;
}

::-ms-scrollbar {
  width: 5px; 
  height: 10px;
  background-color: #f5f5f5;
}

::-ms-scrollbar-thumb {
  background-color: #8b8686;
  border-radius: 10px;
  
} */

/* Initial state: Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Thumb style */
::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}

/* On hover, show the scrollbar */
:hover::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
  height: 5px; /* Adjust height as needed */
  background-color: #f5f5f5;
}

/* Mozilla Firefox scrollbar */
/* Initial state: Hide scrollbar */
::-moz-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Thumb style */
::-moz-scrollbar-thumb {
  background-color: #8b8686;
  border-radius: 10px;
}

/* On hover, show the scrollbar */
:hover::-moz-scrollbar {
  width: 5px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #f5f5f5;
}

/* Microsoft Edge (EdgeHTML) scrollbar */
/* Initial state: Hide scrollbar */
::-ms-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Thumb style */
::-ms-scrollbar-thumb {
  background-color: #8b8686;
  border-radius: 10px;
}

/* On hover, show the scrollbar */
:hover::-ms-scrollbar {
  width: 5px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #f5f5f5;
}

.ant-tabs-tab:hover {
  cursor: pointer;
}

.bn-default-styles p {
  font-size: 18px !important;
  font-family: Sora, sans-serif !important;
  font-weight: 400 !important;
  color: #1a202c !important;
  line-height: 1.6 !important;
  letter-spacing: -0.25px !important;
}

.bn-block-content {
  padding: 8px !important;
}

/* Styles for mobile screens */
@media screen and (max-width: 600px) {
  .bn-default-styles p {
    font-size: 14px !important;
  }

  .bn-block-content {
    padding: 6px !important;
  }
}

.avatar-container {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.ant-modal {
  font-family: Sora, sans-serif !important;
}

.ant-btn {
  font-family: Sora, sans-serif !important;
}

.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}

